@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{

    --cor01:black;
    --cor02:white;

    --fonte-titulo: "Passion One", cursive;
    --fonte-poema: "Sriracha", cursive;
    --fonte-padrao: Verdana;
}

*{
    margin:0px;
    padding: 0px;
}

body{
    background-color: var(--cor02);
    height: 98vh;
}

header{
    background-color: var(--cor01);
    min-height: 150px;
    text-align: center;
}

header h1{
    font-family: var(--fonte-titulo);
    color: var(--cor02);
    font-size: 76px;
    padding: 50px 50px 0px 50px;
    font-weight: bold;
}

header p{
    color: var(--cor02);
    font-family: var(--fonte-padrao);
    padding: 0px 45px 45px 45px;
}

header a{
    color: var(--cor02);
    font-family: var(--fonte-padrao);
    font-weight: bolder;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

section.semimagem{
    background-color: white;
    padding: 50px 20px;
    margin: 5px;
    min-width: 300px;
    max-width: 800px;
}

section.semimagem p{
    font-family: var(--fonte-poema);
    font-size: 26px;
}

section.comimagem p{
    font-family: var(--fonte-poema);
    font-size: 26px;
}


section#imagem1{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

